<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>CHAT ROOM</title>
    <link  rel="stylesheet" href="/static/New folder/chatroom.css">
</head>
<body>
  
    <nav>
        <header><h2 id="h2"><span id="span"><ins>H</ins></span><ins><bdo dir="rtl">uddl</bdo></ins><span id="span"><ins>e</ins></span></h2></header>
     <div class="cont"><p>link 1</p><p>link 2</p><p>link 3</p></div>
    </nav>
    
    
    <div class="container">
        <div class="column"id="side">
            <div id="chats">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis soluta quod inventore eaque magni sapiente modi assumenda nostrum animi magnam dignissimos fugit vero eos in doloremque, obcaecati incidunt sit voluptas.
        </div ></div>
        <div class="column"id="middle" >USERNAME</div>
            
        <div id="workarea">
           WORKAREA
        </div>
    </div>

</body>
</html>