<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/New folder/praco.css">
</head>
<body>
    <h1>Hello world</h1>
    <p>When defining our route, values within 
    carrot brackets <> indicate a variable</p>
    <div>
        <h1>text formatting</h1>
        <p>This text is styled with some of 
        the text formatting properties.
        The heading uses the text-align, 
        text-transform, and color properties.
        <a target="_blank" href="#">
        "Try it Yourself"</a> link.</p>
        <input type="checkbox" id="myCheck" 
        onmouseover="myFunction('')" 
        onclick="alert('choose Gesoko')">
      </div>
 <!-- some code in here -->
 <script type="text/javascript" src="/static/js/app.js"></script>
     
</body>
</html>
